@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: initial;
    background-color: #0C0C0C;
  }
  
  body, #root {
    background-color: #0C0C0C;
    @apply text-white font-sans;
  }
}

@layer utilities {
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
  .glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-3xl shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
}